.App {
  text-align: inherit;

}

.App-logo {
  height: 100px;
  float: left;
  padding-left: 100px;
}

nav {
  height: 110px;
  background-color: #26282E;
}

.App-intro {
  font-size: large;
}

h2 {
font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;  float: left;
  letter-spacing: 3px;
  margin-top: 20px;
  font-size: 70px;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 800px){
.link {
  padding-right: 100px;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  font-weight: 200;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 1px;
  margin-top: 74px;
  text-decoration: none;
  color: white;
}
}
