h1{
  font-size: 50px;
  padding: 25px;
}

.form-group{
  padding-bottom: 20px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
#register{
	width: 60%;
	padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
	background:rgba(255,255,255,0.5);
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	border-radius: 50px;
	padding-bottom: 5%;
}

#login{
  width: 60%;
	padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
	background:rgba(255,255,255,0.5);
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	border-radius: 50px;
	padding-bottom: 5%;
}

#registerbutton, #loginButton {
  margin-left: -23%;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
