h1{
  font-size: 50px;
  padding: 25px;
}

.form-group{
  padding-bottom: 20px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#register{
  float:left;
  margin-left: 20%;
  display: block;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: #85bfe1;
  padding-bottom: 5%;
  padding-left: 13%;
  padding-right: 13%;
  border-radius: 50px;
  align-items: center;
}

#login{
  float:right;
  margin-right: 20%;
  margin-top: 5%;
  background-color: #85bfe1;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  border-radius: 50px;
  align-items: center;
}

#registerbutton, #loginButton {
  margin-left: -23%;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
